.btn-primary {
    color: #fff;
    background-color: #007C06;
    border-color: #007bff;
}

#logout-btn{
    margin-left: 5px;
    display: inline-block;
 }

 .global-item { 
    margin: 5px;
 }

 .button {
    margin-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
 }

 .no-bullet {
    list-style: none;
 }

 .background-default {
 	background-color: #66CDAA;
 }

 .background-nav{
 	background-color: #C0C0C0;
 }

 .border-nav{
 	border: 2px solid #e9ecef;
 	position: fixed;
 	top: 0px;
 }

 #main-color{
    background-color: #888888;
 }

 .title{
    font-family: "comic sans";
    text-decoration: underline;
 }

 #intro{
    font-family: "hevetica";
    text-decoration: underline;
    text-shadow: 2px 2px #FF0000;
 }

 .bold{
    font-weight: bold;
 }

 