<h3 class= "mb-4 mr-2 mt-5">Welcome To Backlogger!</h3>
	<p class="lead">How many times have you seen a preview for a movie, been loaned a world-famous novel, or shell out a pretty penny for that hot new ps4 title, only to have life's day to day chaos bury the experience, never to be seen again?</p>
	<h4>WELL I SAY NO MORE!</h4>
	<p>Backlogger will give you a platform to store these experiences so you will never have to miss out again!</p>
	<div class="container">
		<ul class="no-bullet">
			<li>Want to see what movies, games or books you've missed?<span class="bold"> WE'VE GOT YOU COVERED!</span></li>
			<li>Is there an item that should be here that isn't?<span class='bold'> CREATE IT!</span></li>
			<li>Wouldn't it be awesome if on top of saving, you can store a list of all of your completed items?<span class="bold"> YOU GOT IT!</span></li>
		</ul>
		<p class="lead">Sooooo what are you still reading this for?<span class="bold"> GET BACKLOGGING!</span></p>
	</div>